/*.music-card-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
@media only screen and (max-width: 970px) {
  .music-card-container {
    height: 70vh;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}*/
.music-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.music-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
  flex-basis: 15%;
  transition: transform 0.3s ease; /* Added transition for a smooth effect */
}

.music-card:hover {
  transform: rotate(5deg); /* Rotate the card on hover */
}

@media only screen and (max-width: 970px) {
  .music-card-container {
    height: 70vh;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
